<hgm-add-new-button
  class="m-1 flex w-full justify-end pr-2"
></hgm-add-new-button>

<div class="flex flex-col">
  <hgm-day-container
    [day]="day"
    (createTask)="createTask($event)"
    *ngFor="let day of days$ | async"
  >
    <div
      class="border-solid border-spacing-0"
      hgmDayContainerItem
      *ngFor="let item of getTasksPerDay$(day.id) | async"
    >
      <p>{{ item.title }}</p>
      <p>{{ item.description }}</p>
    </div>
  </hgm-day-container>
  <div class="spacer"></div>
  <hgm-day-container (createTask)="createTask($event)" [day]="heap$ | async">
    <div
      class="border-solid border-spacing-0"
      hgmDayContainerItem
      *ngFor="let item of getTasksPerDay$(null) | async"
    >
      <p>{{ item.title }}</p>
      <p>{{ item.description }}</p>
    </div>
  </hgm-day-container>
</div>
