<mat-toolbar>
  <mat-toolbar-row>
    <span class="font-semibold text-xl">HGM</span>
    <div *ngIf="(isExtraSmall | async) === false" class="ml-1">
      <ng-continaer [ngTemplateOutlet]="navigationLinks"> </ng-continaer>
    </div>
    <span class="spacer"></span>
    <ng-container *ngIf="userFacade.selectedUser$ | async">
      <img
        class="object-cover inline-block h-8 w-8 rounded-full ring-2 ring-white"
        [src]="(userFacade.selectedUser$ | async)?.photoUrl"
        alt="User's picture"
      />
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Opens user's menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="signout()" mat-menu-item>
          {{ 'auth.sign_out' | translate }}
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="isExtraSmall | async" class="hidden">
    <ng-continaer [ngTemplateOutlet]="navigationLinks"> </ng-continaer>
  </mat-toolbar-row>
</mat-toolbar>
<ng-template #navigationLinks>
  <a mat-button routerLinkActive="router-active-link" routerLink="today">{{ 'today' | translate }}</a>
  <a mat-button routerLinkActive="router-active-link" routerLink="chain">{{ 'chain' | translate }}</a>
  <a mat-button routerLinkActive="router-active-link" routerLink="history">{{ 'history' | translate }}</a>
  <a mat-button routerLinkActive="router-active-link" routerLink="ongoing">{{ 'ongoing' | translate }}</a>
</ng-template>
